{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="text-container">
        <h1>Welcome To <b>Delightful Bites</b></h1>
        <p>Indulge in an unforgettable dining experience where culinary artistry meets exquisite ambiance. At DELIGHTFUL BITES, we craft flavors that delight the senses and create memories that last!</p>
        <button>Sing in</button>
        <button>Log in</button>
    </div>
    <div class="img-container">
        <img src="{%static '/images/restaurant.jpeg'%}" alt="restaurant pic" />
    </div>
</div>
{% endblock content %}
